### CouchDB settings
# Since CouchDB will be exposed to the outside, make sure you have secure admin credentials!
# You can use e.g.: openssl rand -base64 32
COUCHDB_USER=admin
COUCHDB_PASSWORD=''


### Token settings
# This secret will be used to derive registration tokens. Make sure it cannot be guessed!
# You can use e.g.: openssl rand -base64 32
TOKEN_SECRET=''
